.not-found {
  width: 100%;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.not-found-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 60px 20px;
  background: white;
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 600px;
}

.error-icon {
  font-size: 64px;
  height: 64px;
  width: 64px;
  color: #94a3b8;
  margin-bottom: 20px;
}

h2 {
  color: #0f172a;
  margin-bottom: 10px;
}

p {
  color: #64748b;
  margin-bottom: 30px;
}

.buttons {
  display: flex;
  gap: 10px;
}
